/* Debug */
#container {
  border: 1px dotted #ccc;
}

/* General */
body * {
  box-sizing: border-box;
  font-family: "Open Sans";
}

svg text {
  font-family: "Open Sans";
}

span.thin {
  font-weight: 300;
}

/* App width */
#app {
  margin: auto;
}

@media (min-width: 900px) {
  #app {
      width: 80vw;
    }
}

@media (min-width: 1200px) {
  #app {
      width: 70vw;
    }
}

@media (min-width: 1400px) {
  #app {
      width: 60vw;
    }
}

@media (min-width: 1600px) {
  #app {
      width: 50vw;
    }
}

/* Main Layout */
#intro h1 {
  margin-bottom: 0.1rem;
}

#intro h2 {
  margin-top: 0.1rem;
  font-weight: 100;
}

#intro,
.topic,
.chart-module {
  padding: 2rem;
  border: 1px solid;
}

/* Chart module head */
.module-head h3 {
  margin-bottom: 0.5rem;
}

.module-head h4 {
  margin-top: 0.5rem;
  font-weight: 300;
}

.module-head hr {
  border: 1px dotted #ccc;
}

.module-body div {
  border: 1px dotted #aaa;
}

/* Chart module body parent */
.module-body {
  display: flex;
  flex-direction: column;
}

/* Chart module body 1st children */
.module-body .visual-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
}

.module-body .info-wrap {
  position: relative;
  width: 100%;
  display: flex;
}

/* Visual */
.visual-wrap .visual {
  width: 70%;
  height: 100%;
}

.visual-wrap .visual-text {
  width: 30%;
  height: 100%;
}

/* Info space */
.info-wrap .chart-info {
  width: 70%;

  position: relative;
  display: flex;
  justify-content: space-between;
}

.info-wrap .chart-links {
  width: 30%; /* not done yet */
}

/* Sources and Share */
.chart-info .sources,
.chart-info .share {
  max-width: 50%;
  overflow: auto;
  /* padding: 1rem 0; */
}

.share img {
  display: inline-block;
  width: 24px;
  margin: 0 0.5rem;
  opacity: 0.3;
}

/* Links */


